# Data Cleaning

Navigate to:  [acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

## Summary

 - acquisitions = "acquisitions_clean.csv"
 - assignee = "trimAssignee_clean.csv"
 - cpc_current = "trimCPC_current_clean.tsv"
 - group = "group_clean.tsv"  *
 - subgroup = "subgroup_clean.tsv"   *
 - subsection = "subsection_clean.tsv"  *
 - patent = "trimPatent_clean.tsv"  *
 - location = "location_clean.tsv"  *
 - location_assignee = "location_assignee_clean.csv"
 - us_term_of_grant = "us_term_of_grant_clean.csv" <br>
 <i>* .tsv because one or more columns contain commas </i>

companies = ["Google", "Microsoft", "Facebook", "Apple", "Yahoo", "Twitter", "IBM"]

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## acquisitions
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [2]:
# original data
dataAcquisitions = pd.read_csv('acquisitions.csv', header=0)
dfAcquisitions = pd.DataFrame(dataAcquisitions)
dfAcquisitions.head()

,AcquisitionID,AcquisitionMonth,AcquisitionMonthDate,AcquisitionYear,Company,Business,Country,Value (USD),Derived products,ParentCompany
0,ACQ99,November,11.0,2015,bebop,Cloud software,USA,380000000.0,Google Cloud Platform,Google
1,ACQ98,November,11.0,2015,Fly Labs,Video editing,USA,NaN,Google Photos,Google
2,ACQ97,December,8.0,2015,Clearleap,Cloud-based video management,USA,NaN,NaN,IBM
3,ACQ96,December,18.0,2015,Metanautix,Big Data Analytics,USA,NaN,NaN,Microsoft
4,ACQ95,December,21.0,2015,"Talko, Inc.",Mobile communications,USA,NaN,NaN,Microsoft

In [4]:
# clean table and printing out to csv
acquisitions = pd.DataFrame(dfAcquisitions).copy(deep=True)
acquisitions = acquisitions.drop(columns=['AcquisitionID',
                                          'AcquisitionMonth',
                                          'AcquisitionMonthDate',
                                          'Country',
                                          'Business',
                                          'Value (USD)',
                                          'Derived products'])
acquisitions = acquisitions.rename(columns={"Company": "ChildCompany"})
acquisitions.to_csv('acquisitions_clean.csv', index=False, sep=',', encoding='utf-8')
acquisitions.head()

   AcquisitionYear ChildCompany ParentCompany
0             2015        bebop        Google
1             2015     Fly Labs        Google
2             2015    Clearleap           IBM
3             2015   Metanautix     Microsoft
4             2015  Talko, Inc.     Microsoft

## application
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [5]:
# original data
dataApplication = pd.read_csv('application.tsv', sep="\t", header=0)
dfApplication = pd.DataFrame(dataApplication)
dfApplication.head()

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          id patent_id series_code   number country        date
0  02/002761   D345393           2  2002761      US  1992-12-21
1  02/007691   5164715           2  2007691      US  1990-04-10
2  02/010248   5177974           2  2010248      US  1988-06-23
3  02/020141   5379515           2  2020141      US  1994-02-16
4  02/027172   5264790           2  2027172      US  1991-07-01

In [6]:
# clean table and printing out to csv
application = pd.DataFrame(dfApplication).copy(deep=True)
application = application.drop(columns=['series_code',
                                        'number'])
application.to_csv('application_clean.csv', index=False, sep=',', encoding='utf-8')
application.head()

          id patent_id country        date
0  02/002761   D345393      US  1992-12-21
1  02/007691   5164715      US  1990-04-10
2  02/010248   5177974      US  1988-06-23
3  02/020141   5379515      US  1994-02-16
4  02/027172   5264790      US  1991-07-01

In [10]:
answer = dfApplication.loc[dfApplication['id'] == "14/463940"]
answer

                id patent_id series_code    number country        date
5829105  14/463940   9881645          14  14463940      US  2014-08-20

## assignee
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [3]:
dataAssignee = pd.read_csv('rawassignee.tsv', sep='\t', header=0)
dfAssignee = pd.DataFrame(dataAssignee)
dfAssignee.head()

,uuid,patent_id,assignee_id,rawlocation_id,type,name_first,name_last,organization,sequence
0,0000p94wkezw94s8cz7dbxlvz,5856666,eaa92f175be7bfb71011f17eafb1e71f,orskbf54s58e97lkmw8na5rpx,2,NaN,NaN,U.S. Philips Corporation,0
1,00013vk881wap9u4mbo7lwwhp,5204210,e572ad43a89039b0d72acc4ce970a33f,mue862v5lcjdhzqqk86ei75kj,2,NaN,NaN,Xerox Corporation,0
2,000192sn2u10kzpikl4s7h3r0,5302149,8ce825a978eebf26ad2c13de6e370bb3,o1h9dqdv0yq7dt1b1vmrcal9h,3,NaN,NaN,Commonwealth Scientific & Industrial Research ...,1
3,0001ycvv6sz1ju07ss99nhxi1,9104354,6c00cb129070696ef109f6264da00318,rspbpqcajvm09r1ew9mgnpx37,3,NaN,NaN,Canon Kabushiki Kaisha,0
4,0001z7ws4m14aqdb3tv99u550,6584517,dabf354c29a6ebba31f54b9ed042241d,l1gyelp5jcg0hakk9smmhsdgr,2,NaN,NaN,Cypress Semiconductor Corp.,0

In [13]:
# clean table and printing out to csv
assignee = pd.DataFrame(dfAssignee).copy(deep=True)
assignee = assignee.drop(columns=['uuid',
                                  'type',
                                  'name_first',
                                  'name_last',
                                  'sequence'])
assignee.to_csv('assignee_clean.tsv', index=False, sep='\t', encoding='utf-8')
assignee.head()

,patent_id,assignee_id,rawlocation_id,organization
0,5856666,eaa92f175be7bfb71011f17eafb1e71f,orskbf54s58e97lkmw8na5rpx,U.S. Philips Corporation
1,5204210,e572ad43a89039b0d72acc4ce970a33f,mue862v5lcjdhzqqk86ei75kj,Xerox Corporation
2,5302149,8ce825a978eebf26ad2c13de6e370bb3,o1h9dqdv0yq7dt1b1vmrcal9h,Commonwealth Scientific & Industrial Research ...
3,9104354,6c00cb129070696ef109f6264da00318,rspbpqcajvm09r1ew9mgnpx37,Canon Kabushiki Kaisha
4,6584517,dabf354c29a6ebba31f54b9ed042241d,l1gyelp5jcg0hakk9smmhsdgr,Cypress Semiconductor Corp.

### Trim Assignee File

Retaining only tuples for child and parent companies in acquisitions

In [98]:
# Step 1. obtain child company list

childCompanies = acquisitions['ChildCompany']
childCompanies = childCompanies.reset_index()
childCompanies = childCompanies.drop(columns='index')
childCompanies = childCompanies.rename(columns={'ChildCompany':'organization'})
childCompanies.head()

  organization
0        bebop
1     Fly Labs
2    Clearleap
3   Metanautix
4  Talko, Inc.

In [125]:
# Step 2: using parent company general name, find all other variations
# Note, this step is not done with child companies to reduce chance of incorrect matches 

parentCompanies = ["Google", "Microsoft", "Facebook", "Apple ", "Yahoo", "Twitter ", "IBM ", "International Business Machines"]
# note space after Apple is intentional to eliminate "Applera"

for i in range(len(parentCompanies)):
    # find all variations on parent company names
    parent = assignee[assignee['organization'].str.match(parCompanies[i], na=False)]
    parent = parent['organization'].drop_duplicates(keep='first')
    parent = parent.reset_index()
    parent = parent.drop(columns='index')
    if (i==0):
        allParent = parent
    else:
        allParent = pd.concat([allParent,parent], axis=0, sort=True)

In [ ]:
# Test out specific companies to make sure selection is correct
assignee[assignee['organization'].str.match('Apple ', na=False)]

In [126]:
# Step 3: join child and parent companies into one list
companies = pd.concat([childCompanies, allParent], axis=0, sort=True)

In [ ]:
companies

In [127]:
# Step 4: trim assignee table based on company names

trimAssignee = pd.merge(assignee, companies, on="organization", how="inner")

In [128]:
trimAssignee

,patent_id,assignee_id,rawlocation_id,organization
0,6000832,237c2b0099548ddbfa5a37f07e0687ab,6uqya1s9vanjrgbu98n5msc62,Microsoft Corporation
1,7458030,237c2b0099548ddbfa5a37f07e0687ab,7ix2ctvhyeg9xwtql320uay3t,Microsoft Corporation
2,D766984,237c2b0099548ddbfa5a37f07e0687ab,ie71vuenix2erylfryrr6carv,Microsoft Corporation
3,D702184,237c2b0099548ddbfa5a37f07e0687ab,qa5ahhmnukxoceaehvelqf1gv,Microsoft Corporation
4,8244819,237c2b0099548ddbfa5a37f07e0687ab,peif0z6buri9sdtumghf10s7o,Microsoft Corporation
5,7904883,237c2b0099548ddbfa5a37f07e0687ab,mbzpgzia61xa847twygc6p4xz,Microsoft Corporation
6,D726203,237c2b0099548ddbfa5a37f07e0687ab,tgme9yc135829n5g98lrepqif,Microsoft Corporation
7,8478837,237c2b0099548ddbfa5a37f07e0687ab,diz6qfzuc1zhwtq7pp6ejbmyw,Microsoft Corporation
8,7126606,237c2b0099548ddbfa5a37f07e0687ab,pddphzp055l3l1rifh4wjgu5d,Microsoft Corporation
9,8948213,237c2b0099548ddbfa5a37f07e0687ab,q36dwr9tauioso2clgogtmwdt,Microsoft Corporation
10,8453106,237c2b0099548ddbfa5a37f07e0687ab,rfma3wm8ix9xtmi2ft2s729v2,Microsoft Corporation
11,5642152,237c2b0099548ddbfa5a37f07e0687ab,r9tac3ea77jq3m8bus65pjo8b,Microsoft Corporation
12,D537836,237c2b0099548ddbfa5a37f07e0687ab,cxe2ulhrk8mtx7e2ydvwo3awy,Microsoft Corporation
13,7523089,237c2b0099548ddbfa5a37f07e0687ab,88na91h8gsopzr8rlrzuye0mz,Microsoft Corporation
14,8561015,237c2b0099548ddbfa5a37f07e0687ab,9nr1kg6bnesfmiocrldh640kg,Microsoft Corporation
15,8539331,237c2b0099548ddbfa5a37f07e0687ab,v6uij187mum27cvbtqnkcfk6y,Microsoft Corporation
16,D467932,237c2b0099548ddbfa5a37f07e0687ab,sp6cc2139zk3l7xld3yrka1bv,Microsoft Corporation
17,8548270,237c2b0099548ddbfa5a37f07e0687ab,8w0l9ebpeaprevz4qzaxza3w0,Microsoft Corporation
18,7823006,237c2b0099548ddbfa5a37f07e0687ab,evmgdwcc87hzqqwxz41y494bl,Microsoft Corporation
19,7774620,237c2b0099548ddbfa5a37f07e0687ab,iqj2jw2s736wl5ntkrsojlg6o,Microsoft Corporation
20,7634465,237c2b0099548ddbfa5a37f07e0687ab,qlvyz0u8zbavmqqqmo1ffdx8b,Microsoft Corporation
21,D434420,237c2b0099548ddbfa5a37f07e0687ab,dvd7c2q9s80evh1oy4lmemf3f,Microsoft Corporation
22,8412689,237c2b0099548ddbfa5a37f07e0687ab,bbmlr89cbqr6hf7kwxa7dhune,Microsoft Corporation
23,D582940,237c2b0099548ddbfa5a37f07e0687ab,g5bm4hafk63xyqm8m06hm21et,Microsoft Corporation
24,7624149,237c2b0099548ddbfa5a37f07e0687ab,wuomj0hfp2afu76rcvqfkt7ze,Microsoft Corporation
25,D643851,237c2b0099548ddbfa5a37f07e0687ab,68osu0z3fuvq4ljr1kagewsnt,Microsoft Corporation
26,7203911,237c2b0099548ddbfa5a37f07e0687ab,vf4wew45womci1cwyjpwcyivh,Microsoft Corporation
27,7548255,237c2b0099548ddbfa5a37f07e0687ab,lldu83gbtmlhe51lsjiy0718k,Microsoft Corporation
28,8341687,237c2b0099548ddbfa5a37f07e0687ab,tbn3q06n46wmcdgqyfbjenjm3,Microsoft Corporation
29,6510453,237c2b0099548ddbfa5a37f07e0687ab,28bnj2cw08xo0q1b2u7n98gg1,Microsoft Corporation
...,...,...,...,...
184396,9569097,fa2b5d18bf66642366669ca51e605db2,mmex17ywr6aug13k8z9xsvr95,"Microsoft Technology Licesing, LLC"
184397,D635256,0155041c6c1e3e61255f4d470ed23378,qvb0pzyocgkhnf52kvuoh02d9,Apple Biomedical Inc.
184398,6386446,29a03fd21a4c9b1420a55ecba2105eae,liv3x4dsg948jhvjgpwbvy6u7,International Business Machines Cirporation
184399,7203684,b5b58d51ebc2b4de38e11ce462509ec3,1td2p6vbmf4pnwxudck6ao6fr,"Google, Inc"
184400,8542265,b5b58d51ebc2b4de38e11ce462509ec3,n31er6q1r6zuagt768c0uuvig,"Google, Inc"
184401,6954353,715bc3ce00dac26af4204b36a069be57,pnr9o7lqoi7r2d8za96vb39x1,Apple Computers Inc.
184402,8510298,9953253ad5e2b36151e9656782781424,sucep1pti8lun8xnj01ehfuch,"TheFind, Inc."
184403,9338127,29a03fd21a4c9b1420a55ecba2105eae,tcgd9o122xgmvyxkybb935kih,International Business Machines Corparation
184404,5966134,0ca33a741eabfbd522f7b46de20b8d7a,wuxge1t97i2z9o5ul77d85tp5,Softimage
184405,8533403,65d34c7319003e4e5bd234006c0be587,uwuxyliigl5hpev0j79iorqji,Apple Inc.
184406,5962654,29a03fd21a4c9b1420a55ecba2105eae,ksuyelrqprjubanoz9mnyi5u7,International Business Machines Operation
184407,5095484,29a03fd21a4c9b1420a55ecba2105eae,u6n0xithpqvvlr804zejznujt,International Business Machines Company Corpor...
184408,7401113,237c2b0099548ddbfa5a37f07e0687ab,3325gjrckpjhgvpho1ysl22ok,Microsoft Corporations
184409,9846693,c608a8dcdd38404afaab77f03f1c57b1,jjcxc8i3c9llzzciezwzc50q5,IBM INTERNATIONAL GROUP BV
184410,6108696,8b1fbee9fd77c52093ed3e38fd2584a3,7bvkaldd0k794kxhen5ko7gr2,Online Anywhere
184411,8131776,fe398aa3a1d303fff179646fda61e543,w7q868m2eitt6am6ivuagnu9e,"International Business Machines Corporation, I..."
184412,6462687,29a03fd21a4c9b1420a55ecba2105eae,k7ndic0mf601gk3x6407gbrnq,International Business Machines Corporatiom
184413,7475006,237c2b0099548ddbfa5a37f07e0687ab,sreleyfu9gly76t3xkvxnadg0,"Microsoft Corporation, Inc."
184414,7067791,a62bb8966d0b4012d1d111c047a2e1bf,2i9wb67tbmuup9uv8bqq370jb,Applera Cororation
184415,6035297,29a03fd21a4c9b1420a55ecba2105eae,cfh1qb41qdx1yfaj3tzkdhjfk,International Business Machines Machine
184416,6819065,29a03fd21a4c9b1420a55ecba2105eae,da1v28akbjz6hakzop8uelze8,"International Business Machines, (IBM) Corpora..."
184417,7508419,bfbbf05b1b97e18754561b43247888c1,09yhc72byq8ddz7g9d8igbjya,"Microsoft, Corp"
184418,D780758,14463a8ac9e3887bf9110e690778516e,aautmwsqgeez0osolh074r8nv,Microsoft Technolgy
184419,9213775,a39ac0a9ac0fa4671522b5be20bf6ca0,jgc3eeeq73wf5dnmrkazdlx9o,Facebook. Inc.
184420,5719070,29a03fd21a4c9b1420a55ecba2105eae,24iodhkrttfda3vn2gwf0xs43,International Business Machines Corporaton
184421,7849199,6e46d0f2cb9504be0f2089f9639fe3a7,yk99bqdcsgd6y0tvu6t1mrwgh,Yahoo ! Inc.
184422,9338249,b12e2d8b345facb1f8bf63ce20573dd4,awc7lqtkflfb0w5wymdta6fj9,"Google Technology Holdings, Inc."
184423,8991473,9a3e001037eec2d7543ef9e6f3beb201,ulgq9ys2tzx8fzh5wmfb3cujj,"Microsoft Technology Holding, LLC"
184424,7971144,f72dc15a00aac39bb0dfc9a238a61fe1,yrc8149nitrh26pr8yf1eho7o,OpenPages
184425,7627432,a8bda78c8ebea5b2af3d30b47322f582,ywjm07m6eoh5clomsfz9s8x8t,SPSS Inc.

In [129]:
# Step 5: make new tsv file
trimAssignee.to_csv('trimAssignee_clean.tsv', index=False, sep='\t', encoding='utf-8')

In [147]:
# A simpler structure with just assignee_id and patent_id
assignee_patents = trimAssignee.drop(columns=['assignee_id','rawlocation_id','organization']).drop_duplicates(keep='first')

In [146]:
assignee_patents.size

184421

## cpc_current
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [8]:
dataCPC = pd.read_csv('cpc_current.tsv', sep='\t', header=0)
dfCPC = pd.DataFrame(dataCPC)
dfCPC.head()

,uuid,patent_id,section_id,subsection_id,group_id,subgroup_id,category,sequence
0,pkscb392v7o62jgv5e3tdyct2,3930272,A,A47,A47D,A47D7/02,inventional,0
1,s3x865wlce64sbxds2ubgheu4,3930272,Y,Y10,Y10T,Y10T403/32451,additional,1
2,638qht0an0gg7dc1ub3yeexm2,3930273,A,A61,A61G,A61G7/0507,inventional,0
3,34qqyersco0qh8jsn9bhdxy88,3930273,A,A61,A61G,A61G7/0509,inventional,1
4,sefi1no1nlmw0jjn82s68bhmq,3930274,B,B63,B63B,B63B7/085,inventional,0

In [9]:
# creating "patents" table and printing out to csv
cpc_current = pd.DataFrame(dfCPC).copy(deep=True)
cpc_current = cpc_current.drop(columns=['uuid',
                                        'category',
                                        'sequence'])
cpc_current.to_csv('cpc_current_clean.csv', index=False, sep=',', encoding='utf-8')
cpc_current.head()

   patent_id section_id subsection_id group_id    subgroup_id
0    3930272          A           A47     A47D       A47D7/02
1    3930272          Y           Y10     Y10T  Y10T403/32451
2    3930273          A           A61     A61G     A61G7/0507
3    3930273          A           A61     A61G     A61G7/0509
4    3930274          B           B63     B63B      B63B7/085

In [153]:
dtype = dict(patent_id=str)
trimCPC_current = cpc_current.astype(dtype).merge(assignee_patents.astype(dtype), 'inner')

In [154]:
trimCPC_current.size

5230656

In [157]:
trimCPC_current1 = trimCPC_current.drop(columns='assignee_id')

In [159]:
trimCPC_current1.to_csv('trimCPC_current_clean.tsv', sep='\t', index=False, encoding='utf-8')

       patent_id section_id subsection_id group_id     subgroup_id
0        3930729          G           G01     G01B     G01B9/02097
1        3930729          G           G01     G01B     G01B2290/25
2        3930857          G           G03     G03F        G03F1/54
3        3930857          G           G03     G03F        G03F1/50
4        3930857          G           G03     G03F       G03F7/022
5        3930857          G           G03     G03F        G03F7/20
6        3930857          Y           Y10     Y10S     Y10S438/948
7        3930857          Y           Y10     Y10S      Y10S438/98
8        3930870          H           H01     H01L    H01L21/30625
9        3931435          G           G03     G03F       G03F7/039
10       3931435          Y           Y10     Y10S     Y10S430/143
11       3931531          H           H03     H03K       H03K21/02
12       3931531          G           G06     G06K       G06K15/16
13       3931555          B           B41     B41K        B41K3/14
14       3931555          H           H02     H02P       H02P23/20
15       3931639          G           G11     G11B     G11B15/1808
16       3931639          G           G11     G11B       G11B15/54
17       3931639          G           G11     G11B      G11B15/602
18       3931639          G           G11     G11B       G11B15/61
19       3931639          G           G11     G11B       G11B27/13
20       3931639          G           G11     G11B     G11B2220/90
21       3931645          G           G11     G11B      G11B5/5521
22       3931645          G           G11     G11B       G11B5/825
23       3931645          G           G11     G11B      G11B17/021
24       3931880          B           B65     B65H        B65H3/60
25       3931880          B           B65     B65H        B65H3/62
26       3932026          G           G02     G02F    G02F1/133345
27       3932026          G           G02     G02F      G02F1/1375
28       3932847          G           G06     G06F     G06F13/4217
29       3932847          G           G06     G06F        G06F1/14
...          ...        ...           ...      ...             ...
871746   9986637          H           H05     H05K       H05K1/024
871747   9986637          H           H05     H05K       H05K3/429
871748   9986637          H           H05     H05K    H05K2201/029
871749   9986637          H           H05     H05K  H05K2201/09545
871750   9986637          H           H05     H05K   H05K2203/1147
871751   9986658          H           H05     H05K      H05K7/1492
871752   9986662          H           H05     H05K     H05K7/20381
871753   9986662          F           F28     F28D      F28D15/025
871754   9986662          F           F28     F28D     F28D15/0266
871755   9986662          F           F28     F28D       F28D15/06
871756   9986662          H           H05     H05K     H05K7/20327
871757   9986662          H           H05     H05K     H05K7/20336
871758   9986662          H           H05     H05K     H05K7/20809
871759   9986662          H           H05     H05K     H05K7/20827
871760   9986662          H           H05     H05K     H05K7/20836
871761   9986667          H           H05     H05K     H05K7/20963
871762   9986667          F           F28     F28F        F28F3/08
871763   9986667          F           F28     F28F       F28F21/02
871764   9986667          F           F28     F28F       F28F21/08
871765   9986667          G           G02     G02B     G02B27/0176
871766   9986667          G           G06     G06F       G06F1/163
871767   9986667          G           G06     G06F       G06F1/203
871768   9986667          H           H01     H01L     H01L23/3733
871769   9986667          H           H01     H01L     H01L23/3735
871770   9986667          H           H01     H01L     H01L23/3736
871771   9986667          H           H05     H05K      H05K1/0201
871772   9986667          H           H05     H05K      H05K5/0226
871773   9986667          H           H05     H05K     H05K7/20409
871774   9986667          H           H05     H05K     H05K7/20454
871775   9986667          F           F28     F28F     F28F2255/02

[871776 rows x 5 columns]

## group
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [16]:
# original data
dataGroup = pd.read_csv('cpc_group.tsv', sep='\t', header=0)
dfGroup = pd.DataFrame(dataGroup)
dfGroup.head()

     id                                              title
0  A01B  SOIL WORKING IN AGRICULTURE OR FORESTRY; PARTS...
1  A01C                     PLANTING; SOWING; FERTILISING
2  A01D                                HARVESTING; MOWING
3  A01F  PROCESSING OF HARVESTED PRODUCE; HAY OR STRAW ...
4  A01G  HORTICULTURE; CULTIVATION OF VEGETABLES, FLOWE...

In [50]:
# clean table and printing out to csv
group = pd.DataFrame(dfGroup).copy(deep=True)
group.to_csv('group_clean.tsv', index=False, sep='\t', encoding='utf-8')
group.head()

     id                                              title
0  A01B  SOIL WORKING IN AGRICULTURE OR FORESTRY; PARTS...
1  A01C                     PLANTING; SOWING; FERTILISING
2  A01D                                HARVESTING; MOWING
3  A01F  PROCESSING OF HARVESTED PRODUCE; HAY OR STRAW ...
4  A01G  HORTICULTURE; CULTIVATION OF VEGETABLES, FLOWE...

## subgroup
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [18]:
# original data
dataSubgroup = pd.read_csv('cpc_subgroup.tsv', sep='\t', header=0)
dfSubgroup = pd.DataFrame(dataSubgroup)
dfSubgroup.head()

          id                                              title
0   A01B1/00                                         Hand tools
1   A01B1/02                        Hand tools -Spades; Shovels
2  A01B1/022  Hand tools -Spades; Shovels -Collapsible; exte...
3  A01B1/024  Hand tools -Spades; Shovels -Foot protectors a...
4  A01B1/026  Hand tools -Spades; Shovels -with auxiliary ha...

In [51]:
# clean table and printing out to csv
subgroup = pd.DataFrame(dfSubgroup).copy(deep=True)
subgroup.to_csv('subgroup_clean.tsv', index=False, sep='\t', encoding='utf-8')
subgroup.head()

          id                                              title
0   A01B1/00                                         Hand tools
1   A01B1/02                        Hand tools -Spades; Shovels
2  A01B1/022  Hand tools -Spades; Shovels -Collapsible; exte...
3  A01B1/024  Hand tools -Spades; Shovels -Foot protectors a...
4  A01B1/026  Hand tools -Spades; Shovels -with auxiliary ha...

## subsection
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [23]:
# original data
dataSubsection = pd.read_csv('cpc_subsection.tsv', sep='\t', header=0)
dfSubsection = pd.DataFrame(dataSubsection)
dfSubsection.head()

    id                                              title
0  A01  AGRICULTURE; FORESTRY; ANIMAL HUSBANDRY; HUNTI...
1  A21                              BAKING; EDIBLE DOUGHS
2  A22  BUTCHERING; MEAT TREATMENT; PROCESSING POULTRY...
3  A23  FOODS OR FOODSTUFFS; THEIR TREATMENT, NOT COVE...
4  A24   TOBACCO; CIGARS; CIGARETTES; SMOKERS' REQUISITES

In [52]:
# clean table and printing out to csv
subsection = pd.DataFrame(dfSubsection).copy(deep=True)
subsection.to_csv('subsection_clean.tsv', index=False, sep='\t', encoding='utf-8')

subsection.head()

    id                                              title
0  A01  AGRICULTURE; FORESTRY; ANIMAL HUSBANDRY; HUNTI...
1  A21                              BAKING; EDIBLE DOUGHS
2  A22  BUTCHERING; MEAT TREATMENT; PROCESSING POULTRY...
3  A23  FOODS OR FOODSTUFFS; THEIR TREATMENT, NOT COVE...
4  A24   TOBACCO; CIGARS; CIGARETTES; SMOKERS' REQUISITES

## patent
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [163]:
# original data
dataPatent = pd.read_csv('patent.tsv', sep="\t", header=0, error_bad_lines=False)
dfPatent = pd.DataFrame(dataPatent)
dfPatent.head()

b'Skipping line 4243120: expected 11 fields, saw 12\n'
b'Skipping line 4277941: expected 11 fields, saw 12\nSkipping line 4308329: expected 11 fields, saw 12\n'
b'Skipping line 4348258: expected 11 fields, saw 12\nSkipping line 4390841: expected 11 fields, saw 12\n'
b'Skipping line 4400719: expected 11 fields, saw 12\n'
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
0,3930271,utility,3930271,US,1976-01-06,A golf glove is disclosed having an extra fin...,Golf glove,A,4.0,pftaps19760106_wk01.zip,0.0
1,3930272,utility,3930272,US,1976-01-06,A lock for a height-adjustable crib or plaype...,Crib leg lock,A,3.0,pftaps19760106_wk01.zip,0.0
2,3930273,utility,3930273,US,1976-01-06,A bed safety side rail arrangement which incl...,Bed safety side rail arrangement,A,24.0,pftaps19760106_wk01.zip,0.0
3,3930274,utility,3930274,US,1976-01-06,The assembly includes a longitudinal axis and...,Assembly for use in recreational activities,A,7.0,pftaps19760106_wk01.zip,0.0
4,3930275,utility,3930275,US,1976-01-06,A novel slipper and its method of fabrication...,Method of fabricating a slipper,A,9.0,pftaps19760106_wk01.zip,0.0

In [167]:
# clean table and printing out to csv
patent = pd.DataFrame(dfPatent).copy(deep=True)
patent = patent[patent['country'] == 'US']
patent = patent.drop(columns=['type','country','kind','filename','withdrawn'])
# patent.to_csv('patent_clean.tsv', index=False, sep='\t', encoding='utf-8')
# patent.head()

In [172]:
dtype1 = dict(id=str)
dtype2 = dict(patent_id=str)
trimPatent = pd.merge(patent.astype(dtype1), assignee_patents.astype(dtype2), left_on='id', right_on='patent_id', how='inner')
trimPatent1 = trimPatent.drop(columns='assignee_id')
trimPatent1.to_csv('trimPatent_clean.tsv', index=False, sep='\t', encoding='utf-8')

In [174]:
trimPatent1

,id,number,date,abstract,title,num_claims,patent_id
0,3930729,3930729,1976-01-06,An interferometer arrangement of either the t...,Interferometer apparatus incorporating a spher...,39.0,3930729
1,3930857,3930857,1976-01-06,"A resist mask, whose configuration is changed...",Resist process,7.0,3930857
2,3930870,3930870,1976-01-06,An improved process for preparing a polishing...,Silicon polishing solution preparation,16.0,3930870
3,3931435,3931435,1976-01-06,Very sensitive electron beam positive resists...,Electron beam positive resists containing acet...,5.0,3931435
4,3931531,3931531,1976-01-06,A counter circuit counts all transitions of t...,Overlapped signal transition counter,7.0,3931531
5,3931555,3931555,1976-01-06,A digital pulse source generates a frequency ...,Acceleration control system for a d-c motor,9.0,3931555
6,3931639,3931639,1976-01-06,A track or stripe tape positioner for a helic...,Transverse track location device with calibrat...,8.0,3931639
7,3931645,3931645,1976-01-06,A flexible disk file signal storage apparatus...,Flexible disk storage apparatus having disks o...,11.0,3931645
8,3931880,3931880,1976-01-13,Document handling apparatus for use in connec...,Document handling apparatus,10.0,3931880
9,3932026,3932026,1976-01-13,A display assembly in which a nematic liquid ...,Liquid crystal display assembly having dielect...,18.0,3932026
10,3932847,3932847,1976-01-13,Circuits and method for synchronizing and che...,Time-of-day clock synchronization among multip...,5.0,3932847
11,3932894,3932894,1976-01-13,An elongated magnetic tape has a pair of long...,Magnetic record member for use with rotating h...,8.0,3932894
12,3934057,3934057,1976-01-20,A high sensitivity resist layer structure for...,High sensitivity positive resist layers and ma...,17.0,3934057
13,3934213,3934213,1976-01-20,A broad band directional coupler including a ...,Broad band directional coupling circuit,21.0,3934213
14,3935017,3935017,1976-01-27,The compositions of the present invention com...,High-alumina content compositions containing B...,7.0,3935017
15,3935480,3935480,1976-01-27,The broad band directional signal generator d...,Broad band directional signal generator,19.0,3935480
16,3935540,3935540,1976-01-27,Small current signals (0.5 ua and less) such ...,D.C. coupled impedance reducing circuit,14.0,3935540
17,3936056,3936056,1976-02-03,Spindle depress/brake apparatus in a disc dic...,Spindle depress/brake mechanism,3.0,3936056
18,3936322,3936322,1976-02-03,A method for improving the current confinemen...,Method of making a double heterojunction diode...,7.0,3936322
19,3936770,3936770,1976-02-03,"A dye laser, pumped by a nitrogen laser, has ...",Single laser cavity for generating TE or TM modes,8.0,3936770
20,3936805,3936805,1976-02-03,A medialess dictation system for storing and ...,Dictation system for storing and retrieving au...,18.0,3936805
21,3936809,3936809,1976-02-03,An information storage device which stores a ...,Single flux quantum storage devices and sensin...,45.0,3936809
22,3936812,3936812,1976-02-03,This specification describes an orderly arran...,Segmented parallel rail paths for input/output...,8.0,3936812
23,3936856,3936856,1976-02-03,A space-charge-limited integrated circuit str...,Space-charge-limited integrated circuit structure,10.0,3936856
24,3936876,3936876,1976-02-03,The invention relates to rotatable data stora...,Rotatable data storage apparatus with track se...,7.0,3936876
25,3936878,3936878,1976-02-03,A disc storage file includes a multiplicity o...,Disc interface location,9.0,3936878
26,3936880,3936880,1976-02-03,Multiple (e.g. 500) ultra-thin flexible stora...,Bistable deflection separation of flexible disks,45.0,3936880
27,3936881,3936881,1976-02-03,"In a flexible disk magnetic storage device, a...",Air damped head suspension,7.0,3936881
28,3937325,3937325,1976-02-10,In a cartridge comprised of a base member inc...,Cartridge with lock stabilization,11.0,3937325
29,3937925,3937925,1976-02-10,A versatile readily serviced transaction term...,Modular transaction terminal with microprocess...,20.0,3937925
...,...,...,...,...,...,...,...
184287,RE46758,RE46758,2018-03-20,A method for animating graphical objects is pr...,Animation of graphical objects,41.0,RE46758
184288,RE46818,RE46818,2018-05-01,Media menu items are generated within a media ...,User interface with menu abstractions and cont...,15.0,RE46818
184289,RE46864,RE46864,2018-05-22,"In accordance with some embodiments, a compute...",Insertion marker placement on touch sensitive ...,66.0,RE46864
184290,T100402,T100402,1981-03-03,NaN,Method and means for defective bit processing ...,1.0,T100402
184291,T109201,T109201,1988-07-05,NaN,Optical alignment tool,8.0,T109201
184292,T953005,T953005,1976-12-07,NaN,Schottky barrier diode having chargeable float...,6.0,T953005
184293,T954002,T954002,1977-01-04,NaN,Process for increasing mask life,1.0,T954002
184294,T954006,T954006,1977-01-04,NaN,On-chip substrate voltage generator,1.0,T954006
184295,T954008,T954008,1977-01-04,NaN,Narrow channel field effect transistor,5.0,T954008
184296,T954009,T954009,1977-01-04,NaN,Method for the thermal oxidation of silicon wi...,5.0,T954009
184297,T954010,T954010,1977-01-04,NaN,Method of coating oxidized inorganic substrate...,12.0,T954010
184298,T954011,T954011,1977-01-04,NaN,Method and apparatus for operating computer ap...,3.0,T954011
184299,T955006,T955006,1977-02-01,NaN,Delay circuits using negative resistance CMOS ...,11.0,T955006
184300,T955008,T955008,1977-02-01,NaN,Flip chip structure including a silicon semico...,8.0,T955008
184301,T955010,T955010,1977-02-01,NaN,Hardware/software monitoring system,47.0,T955010
184302,T957007,T957007,1977-04-05,NaN,Voltage-mode logic circuitry with improved inp...,1.0,T957007
184303,T961002,T961002,1977-08-02,NaN,Electron current regulator for an electron dis...,10.0,T961002
184304,T966009,T966009,1978-01-03,NaN,Static free fluid bearing track system,1.0,T966009
184305,T966011,T966011,1978-01-03,NaN,Pattern-recognition system and method,1.0,T966011
184306,T969010,T969010,1978-04-04,NaN,Monolithically integrated semiconductor struct...,2.0,T969010
184307,T971005,T971005,1978-06-06,NaN,Method for synchronizing sets of interacting p...,9.0,T971005
184308,T973008,T973008,1978-08-01,NaN,Method for removing layers of organic material,9.0,T973008
184309,T977006,T977006,1978-12-05,NaN,Read only memory with optimized dimension for ...,10.0,T977006
184310,T979005,T979005,1979-02-06,NaN,Light emitting diodes with back-side emission,4.0,T979005
184311,T980008,T980008,1979-03-06,NaN,Interactive design of character-recognition lo...,22.0,T980008
184312,T983011,T983011,1979-06-05,NaN,Arrangement for stabilizing a bipolar semicond...,6.0,T983011
184313,T987004,T987004,1979-10-02,NaN,System for determining the extent of overlap b...,25.0,T987004
184314,T988007,T988007,1979-11-06,NaN,Laser deposition of metal upon transparent mat...,5.0,T988007
184315,T998003,T998003,1980-09-02,NaN,Apparatus for clamping sheets of variable leng...,1.0,T998003
184316,T998008,T998008,1980-09-02,NaN,Computer system and method for decision tree a...,52.0,T998008

## location
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [55]:
# original data
dataLocation = pd.read_csv('location2.tsv', sep="\t", header=0)
dfLocation = pd.DataFrame(dataLocation)
dfLocation.head()

             id                  city country latitude  longitude
0  0009wn7out97        Kaiserslautern      DE  49.4123    7.69879
1  000fg4sjgke4          Kiryat Ekron      IL  31.8575   34.82230
2  000wvaottuxr         Oberostendorf      DE  47.9437   10.74330
3  000yomlxfffl           Spruce Pine      US  35.9153  -82.06470
4  000zaps28vbi  Bridge City Westwego      US  29.9179  -90.16630

In [57]:
# clean table and printing out to csv
location = pd.DataFrame(dfLocation).copy(deep=True)
location = location[location['country']=='US']
location = location.drop(columns=['country'])
location.to_csv('location_clean.tsv', index=False, sep='\t', encoding='utf-8')
location.head()

              id                  city latitude  longitude
3   000yomlxfffl           Spruce Pine  35.9153   -82.0647
4   000zaps28vbi  Bridge City Westwego  29.9179   -90.1663
5   002ui5ctlmse             Dahlonega  34.5261   -83.9844
7   0043o8y61p3z       Rancho Bernardo  33.0186  -117.0600
17  00a4lw6chrti              Levering  45.6358   -84.7870

## location_assignee
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [38]:
# original data
dataLocationAssignee = pd.read_csv('location_assignee.tsv', sep="\t", header=0)
dfLocationAssignee = pd.DataFrame(dataLocationAssignee)
dfLocationAssignee.head()

    location_id                       assignee_id
0  wy09e6twn0s1  eaa92f175be7bfb71011f17eafb1e71f
1  406gqa22ukdm  e572ad43a89039b0d72acc4ce970a33f
2  lulvs12ykwd7  8ce825a978eebf26ad2c13de6e370bb3
3  tdk0ut5vx9ki  6c00cb129070696ef109f6264da00318
4  rfmxwk4iedfc  dabf354c29a6ebba31f54b9ed042241d

In [53]:
# clean table and printing out to csv
location_assignee = pd.DataFrame(dfLocationAssignee).copy(deep=True)
location_assignee.to_csv('location_assignee_clean.csv', index=False, sep=',', encoding='utf-8')
location_assignee.head()

    location_id                       assignee_id
0  wy09e6twn0s1  eaa92f175be7bfb71011f17eafb1e71f
1  406gqa22ukdm  e572ad43a89039b0d72acc4ce970a33f
2  lulvs12ykwd7  8ce825a978eebf26ad2c13de6e370bb3
3  tdk0ut5vx9ki  6c00cb129070696ef109f6264da00318
4  rfmxwk4iedfc  dabf354c29a6ebba31f54b9ed042241d

## us_term_of_grant
[acquisitions](#acquisitions)
 | [application](#application)
 | [assignee](#assignee) 
 | [cpc_current](#cpc_current)
 | [group](#group)
 | [subgroup](#subgroup)
 | [subsection](#subsection)
 | [patent](#patent)
 | [location](#location)
 | [location_assignee](#location_assignee)
 | [us_term_of_grant](#us_term_of_grant)

In [29]:
dataExpired = pd.read_csv('us_term_of_grant.tsv', sep="\t", header=0)
dfExpired = pd.DataFrame(dataExpired)
dfExpired.head()

,uuid,patent_id,lapse_of_patent,disclaimer_date,term_disclaimer,term_grant,term_extension
0,0000hq4800wcm85ghvyz34mbe,D657425,NaN,0000-00-00,NaN,14.0,NaN
1,0002e24jgnd6uspokbvss6xex,D699845,NaN,0000-00-00,NaN,14.0,NaN
2,0002s1xi2xuinyor7g5w5veu6,D525308,NaN,0000-00-00,NaN,14.0,NaN
3,000315mx91ci258k7nwyve9pg,9193114,NaN,0000-00-00,NaN,NaN,408.0
4,0003hd31mgyh3f2x7j8stmuq6,D532925,NaN,0000-00-00,NaN,14.0,NaN

In [54]:
# clean table and printing out to csv
us_term_of_grant = pd.DataFrame(dfExpired).copy(deep=True)
us_term_of_grant = us_term_of_grant.drop(columns=['uuid',
                                                  'lapse_of_patent',
                                                  'term_disclaimer',
                                                  'term_grant',
                                                  'term_extension'])
us_term_of_grant.to_csv('us_term_of_grant_clean.csv', index=False, sep=',', encoding='utf-8')
us_term_of_grant.head()

  patent_id disclaimer_date
0   D657425      0000-00-00
1   D699845      0000-00-00
2   D525308      0000-00-00
3   9193114      0000-00-00
4   D532925      0000-00-00

In [85]:
# dfExpired[dfExpired['disclaimer_date']!='0000-00-00'].head(50)

,uuid,patent_id,lapse_of_patent,disclaimer_date,term_disclaimer,term_grant,term_extension
164,002aq634gkvojyzmxlz8g0wno,D334422,NaN,2005-03-12,NaN,14.0,NaN
172,002cmto548ezdiejy8i2a28qq,5089490,NaN,2005-07-19,NaN,NaN,NaN
182,002h7kmntnf61xhsn3mcrj4al,4805394,NaN,2002-11-21,NaN,NaN,NaN
249,003gr6ne1h4286un48q7mr0b1,D387548,NaN,2011-11-11,NaN,14.0,NaN
268,003omfcsvfmp4lvqyymew3ai0,4591481,NaN,2001-02-14,NaN,NaN,NaN
313,004dvl0nxz3kwgzs5qe4fazf5,5216281,NaN,2008-08-27,NaN,NaN,NaN
385,005gbradp0hvjubfcfz9tjq3k,4764874,NaN,2005-05-03,NaN,NaN,NaN
514,007gbj8mt28y1lxo5cvjygjy8,5229026,NaN,2008-10-01,NaN,NaN,NaN
606,008rm9t62n6as0bjthe31xgay,D360500,NaN,2009-06-20,NaN,14.0,NaN
674,009s40sos1n7ikkqzfrq7i3zx,5468151,NaN,2011-07-19,NaN,NaN,NaN
710,00adxq7jvbogo2fecbvzgmydj,4472514,NaN,2011-09-18,NaN,NaN,NaN
937,00dexq85jha3gwwumof6kajh4,5066547,NaN,2005-10-18,NaN,NaN,NaN
1064,00fedvgen1ytz7b2yagbf8oq1,5176332,NaN,2007-12-04,NaN,NaN,NaN
1086,00frxe466b3lbnqhzb6ttiqpn,5149350,NaN,2008-01-22,NaN,NaN,NaN
1124,00g3xjc9ahl77yo1ebex5o7p3,4426297,NaN,1998-10-06,NaN,NaN,NaN
1165,00gnewspkfms4ul5s0f694y1x,4103048,NaN,1994-06-21,NaN,NaN,NaN
1186,00h0dc4dr6f6sfo2oaqh4fz0r,4398835,NaN,1998-11-10,NaN,NaN,NaN
1237,00hoymc6115rabb48zh0i9ziv,4019826,NaN,1989-10-24,NaN,NaN,NaN
1261,00i22q65f4xjp6ct6ueds5q9p,5147300,NaN,2008-05-28,NaN,NaN,NaN
1282,00iexqs0v07f2juapop1b2zwe,4347649,NaN,1997-07-29,NaN,NaN,NaN
1362,00jrfzex0fzf8cvojg7pe2bp0,4894282,NaN,2004-07-28,NaN,NaN,NaN
1445,00kxff09ulgw6dlah8kqosd2b,5358122,NaN,2010-04-27,NaN,NaN,NaN
1449,00kzg783b7qxnw6xpmexj1h0y,4205134,NaN,1995-12-19,NaN,NaN,NaN
1474,00lbmsrj2pbb406v6ej2j879n,4282598,NaN,1993-03-16,NaN,NaN,NaN
1516,00lxty2j0rnk0leijn0ux56vg,4594960,NaN,2001-11-06,NaN,NaN,NaN
1518,00lzl6hfrf98bmzz8agx7qr1f,5102867,NaN,2006-07-18,NaN,NaN,NaN
1519,00m0qs67u00xwj179rjqhhhoq,5314694,NaN,2009-06-16,NaN,NaN,NaN
1544,00mcl113ly51kg7xmfa0upq30,4935632,NaN,2005-11-29,NaN,NaN,NaN
1595,00n6762gej28oevp9ughewjad,5078137,NaN,2005-05-03,NaN,NaN,NaN
1615,00nh4wmz65xau7jenljornhxu,D382258,NaN,2010-11-26,NaN,14.0,NaN
1618,00nho8nb57jzde09tjsezhc0c,4505143,NaN,1999-12-21,NaN,NaN,NaN
1831,00qscuh49bawvk0k6v2bw6mqz,5147326,NaN,2009-02-18,NaN,NaN,NaN
1848,00qxvwyxhxkfe4k3xohchinp5,4752376,NaN,2003-05-27,NaN,NaN,NaN
1882,00ret9vb78ntj3z7w8wjgy5gz,5321913,NaN,2009-01-21,NaN,NaN,NaN
1961,00slabffzxedukghptt9f8ul4,4361498,NaN,1997-11-25,NaN,NaN,NaN
2022,00tk86j0wl4hwwwqpx7sj46ye,5266200,NaN,2007-04-17,NaN,NaN,NaN
2039,00tp7jiqgrn4hp5ksjgnmrig3,5153254,NaN,2003-10-21,NaN,NaN,NaN
2052,00tvc3bde9wonmrhvax8tdsp8,4825124,NaN,2004-12-01,NaN,NaN,NaN
2110,00upayynfobpgv5px6eipzs23,D347814,NaN,2008-05-10,NaN,14.0,NaN
2113,00uqnj9n15zim5tlxzl65bh3k,5511762,NaN,2013-11-15,NaN,NaN,NaN
2161,00vczotqzizk6rmdr6wbhruen,5315717,NaN,2010-06-08,NaN,NaN,NaN
2186,00vqhcmfzzm04n2w986t766q7,5880317,NaN,2011-05-24,NaN,NaN,NaN
2232,00wgd1559c5mf40r5tn7mskbd,D338721,NaN,2007-06-29,NaN,14.0,NaN
2450,00zqj2niv4d4oiluccme63aki,5364903,NaN,2010-02-09,NaN,NaN,NaN
2453,00zrhvhcsm8tawqi30lsasgwk,4351381,NaN,1994-01-22,NaN,NaN,NaN
2564,0115deglh1eifyanqcc41d5bg,4990622,NaN,2007-09-18,NaN,NaN,NaN
2571,0119frscux4iv0zozlvhwcirk,5264001,NaN,2007-10-09,NaN,NaN,NaN
2582,011hpdeco22m4k1ou60aqrrro,4388109,NaN,1998-12-22,NaN,NaN,NaN
2596,011qwsm5c2cc13jsjzvur2i31,5448678,NaN,2011-05-24,NaN,NaN,NaN
2711,013ingv9fgsaz4vtg37qf28qv,4022843,NaN,1993-09-07,NaN,NaN,NaN